.u-section-1 .u-sheet-1 {
  min-height: 3819px;
}

.u-section-1 .u-text-1 {
  font-family: Quicksand;
  font-size: 1.25rem;
  margin: 36px 30px 0 583px;
}

.u-section-1 .u-text-2 {
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 184px 0 747px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-family: Quicksand;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 120px 0 682px;
}

.u-section-1 .u-video-1 {
  width: 570px;
  height: 396px;
  margin: -53px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  margin: -320px 0 0 583px;
}

.u-section-1 .u-video-2 {
  width: 362px;
  height: 271px;
  margin: -44px auto 0 104px;
}

.u-section-1 .u-image-1 {
  width: 259px;
  height: 200px;
  margin: -200px auto 0 593px;
}

.u-section-1 .u-image-2 {
  width: 256px;
  height: 200px;
  margin: -200px auto 0 861px;
}

.u-section-1 .u-text-5 {
  font-family: Quicksand;
  font-size: 1.25rem;
  margin: 117px 114px 0 666px;
}

.u-section-1 .u-video-3 {
  width: 365px;
  height: 269px;
  margin: -1px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  margin: -1px 881px 0 106px;
}

.u-section-1 .u-text-7 {
  font-family: Quicksand;
  font-size: 1rem;
  font-weight: 700;
  margin: -282px 23px 0 585px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  margin: 23px 0 0 585px;
}

.u-section-1 .u-video-4 {
  width: 351px;
  height: 269px;
  margin: -75px auto 0 186px;
}

.u-section-1 .u-text-9 {
  font-size: 0.75rem;
  margin: 0 638px 0 187px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 197px;
  object-position: 50% 82.43%;
  margin: -224px auto 0 570px;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  margin: 0 0 0 570px;
}

.u-section-1 .u-text-11 {
  font-family: Quicksand;
  font-size: 1.25rem;
  margin: 140px 175px 0 727px;
}

.u-section-1 .u-video-5 {
  width: 356px;
  height: 201px;
  margin: 44px auto 0 -15px;
}

.u-section-1 .u-image-4 {
  width: 257px;
  height: 288px;
  margin: -269px auto 0 313px;
}

.u-section-1 .u-video-6 {
  width: 356px;
  height: 201px;
  margin: 58px auto 0 -15px;
}

.u-section-1 .u-image-5 {
  width: 257px;
  height: 288px;
  margin: -259px auto 0 313px;
}

.u-section-1 .u-text-12 {
  font-family: Quicksand;
  font-size: 0.875rem;
  font-weight: 700;
  margin: -545px 904px 0 77px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-family: Quicksand;
  font-size: 1rem;
  font-weight: 700;
  margin: -17px 69px 0 622px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-14 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  margin: 23px 0 0 593px;
}

.u-section-1 .u-text-15 {
  font-family: Quicksand;
  font-size: 0.875rem;
  font-weight: 700;
  margin: -77px 943px 0 117px;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-family: Quicksand;
  font-size: 1.25rem;
  margin: 355px 128px 0 711px;
}

.u-section-1 .u-video-7 {
  width: 530px;
  height: 232px;
  margin: 1px auto 0 20px;
}

.u-section-1 .u-text-17 {
  font-family: Quicksand;
  font-size: 1rem;
  font-weight: 700;
  margin: -201px 48px 0 618px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  margin: 23px 0 0 593px;
}

.u-section-1 .u-video-8 {
  width: 530px;
  height: 232px;
  margin: -232px auto 0 20px;
}

.u-section-1 .u-text-19 {
  font-family: Quicksand;
  font-size: 1.125rem;
  margin: 141px 170px 0 740px;
}

.u-section-1 .u-text-20 {
  font-family: Quicksand;
  font-size: 1rem;
  font-weight: 700;
  margin: 12px 35px 0 605px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-video-9 {
  width: 358px;
  height: 267px;
  margin: -51px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 303px;
  height: 215px;
  margin: -204px 142px 0 auto;
}

.u-section-1 .u-text-21 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  margin: 13px 0 0 593px;
}

.u-section-1 .u-video-10 {
  width: 358px;
  height: 267px;
  margin: -267px auto 60px 212px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3750px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 413px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 84px;
    margin-left: 647px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 20px;
    margin-left: 582px;
  }

  .u-section-1 .u-video-1 {
    width: 470px;
    height: 327px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -323px;
    margin-left: 383px;
  }

  .u-section-1 .u-video-2 {
    margin-top: 28px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 684px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 14px;
    margin-left: 566px;
  }

  .u-section-1 .u-video-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-right: 781px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -288px;
    margin-right: 0;
    margin-left: 408px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 13px;
    margin-left: 385px;
  }

  .u-section-1 .u-video-4 {
    margin-top: -43px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 12px;
    margin-right: 538px;
    margin-left: 87px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -232px;
    margin-left: 370px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-left: 370px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 124px;
    margin-right: 75px;
    margin-left: 627px;
  }

  .u-section-1 .u-video-5 {
    margin-top: 60px;
  }

  .u-section-1 .u-video-6 {
    margin-top: -30px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -458px;
    margin-right: 781px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: -124px;
    margin-right: 0;
    margin-left: 491px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 11px;
    margin-left: 393px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 843px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 353px;
    margin-right: 28px;
    margin-left: 611px;
  }

  .u-section-1 .u-video-7 {
    margin-top: -271px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 115px;
    margin-right: 0;
    margin-left: 466px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -6px;
    margin-left: 393px;
  }

  .u-section-1 .u-video-8 {
    margin-top: -218px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -318px;
    margin-right: 70px;
    margin-left: 640px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 440px;
  }

  .u-section-1 .u-video-9 {
    margin-top: -268px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -203px;
    margin-left: 393px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 193px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 511px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 163px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 461px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 464px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 567px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 188px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 405px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 482px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 561px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 271px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 640px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 419px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 246px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 490px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 220px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3740px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 331px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 202px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -251px;
    margin-left: 0;
  }

  .u-section-1 .u-video-2 {
    margin-top: -110px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -131px;
    margin-left: 281px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 284px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 48px;
    margin-left: 180px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -91px;
    margin-right: 387px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -198px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-video-4 {
    margin-top: -112px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -40px;
    margin-right: 225px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 187px;
    margin-top: -147px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -75px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 302px;
  }

  .u-section-1 .u-video-5 {
    margin-top: 86px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 283px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 283px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 381px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -178px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 460px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 239px;
  }

  .u-section-1 .u-video-7 {
    margin-top: -259px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 103px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-video-8 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-video-10 {
    margin-left: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3329px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 131px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 2px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 237px;
    margin-top: 177px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -394px;
  }

  .u-section-1 .u-video-2 {
    width: 340px;
    height: 255px;
    margin-top: -200px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -255px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 84px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 172px;
    margin-left: 0;
  }

  .u-section-1 .u-video-3 {
    width: 340px;
    height: 251px;
    margin-top: 179px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 327px;
    margin-right: 187px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -777px;
    margin-left: 0;
  }

  .u-section-1 .u-video-4 {
    height: 261px;
    margin-top: -135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 30px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 118px;
    margin-top: -204px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 102px;
  }

  .u-section-1 .u-video-5 {
    width: 340px;
    height: 192px;
    margin-top: 291px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -260px;
    margin-left: 83px;
  }

  .u-section-1 .u-video-6 {
    width: 340px;
    height: 192px;
    margin-top: 79px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: -250px;
    margin-left: 83px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 181px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -404px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: -37px;
    margin-right: 260px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 379px;
    margin-left: 39px;
  }

  .u-section-1 .u-video-7 {
    height: 149px;
    margin-top: -255px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-17 {
    margin-top: 128px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: -41px;
  }

  .u-section-1 .u-video-8 {
    width: 340px;
    height: 149px;
    margin-top: -452px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: -188px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-video-9 {
    height: 254px;
    margin-top: -107px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 43px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -320px;
  }

  .u-section-1 .u-video-10 {
    height: 254px;
    margin-top: -19px;
    margin-bottom: -478px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}